@import 'variables';


.table_adm {
    padding-top: 20px;
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
}

.form_content {
    padding-top: 30px;
    form {
      margin-bottom: 20px;
      padding: 10px;
      border: 1px solid #ccc;
      max-width: 300px;
    }

    input {
      display: block;
      margin-bottom: 10px;
      width: 100%;
      padding: 8px;
    }

    button {
      padding: 8px 16px;
    }
}